// Vars

$black: #000;
$white: #FFF;
$green: #05A58B;
$blue: #014990;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    margin: 0;
}

.App {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 400;
}

.font-400 {
    font-weight: 400;
}

.font-600 {
    font-weight: 600;
}

.font-700 {
    font-weight: 700;
}

.title {
    font-family: 'Noto Serif', serif;
    font-weight: 700;
}

.btn {
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    cursor: pointer;

    &.btn-blue {
        background-color: $blue;
        border: 0.4em solid $blue;
        color: $white;
        transition: color .275s ease-out, background-color .275s ease-out;

        &:hover{
            background-color: $white;
            color: $blue;
        }
    }
}

.fadeInUp {
    opacity: 0;
    animation: 1s ease-out .5s fadeInUp;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(.19,1,.22,1);
}

@keyframes fadeInUp{
    from {
        transform: translate3d(0, 100px,0)
    }
    
    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

.start {
    width: 100%;
    min-height: 100vh;
    opacity: 0;
    padding: 0 0 20em 0;
    background: url(./img/bg.png) no-repeat center center;
    background-size: cover;
    position: relative;

    &-content {
        padding: 6.4em 0 0 37em;
    }

    &-subtitle {
        color: $green;
        text-transform: uppercase;
        margin-bottom: 1.1em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 35.5em 0 0;

        span {
            font-size: 3em;
        }

        img {
            display: block;
            width: 25.1em;
            height: 3.7em;
        }
    }

    &-title {
        color: $blue;
        width: 55em;
        margin-bottom: 59.5em;
        opacity: 0;

        span {
            font-size: 7em;
        }
    }

    &-text {
        color: $blue;
        line-height: 4.524em;
        width: 96em;
        margin-bottom: 2em;

        span {
            font-size: 2.6em;
        }
    }

    &-girl {
        position: absolute;
    }

    &-flowers {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &-flower {
        position: absolute;
        opacity: 1;

        &:nth-child(1) {
            width: 22.9em;
            height: 23.4em;
            left: 7em;
            top: 12.5em;
        }

        &:nth-child(2) {
            width: 18.6em;
            height: 18.3em;
            left: 102.5em;
            top: 39.8em;
        }

        &:nth-child(3) {
            width: 18.7em;
            height: 16.5em;
            left: 152em;
            top: 137em;
        }
    }

    .btn {
        height: 7.3em;
        width: 58em;
        position: relative;
        z-index: 2;

        span {
            font-size: 3.2em;
        }
    }
}
