// Vars

$black: #000;
$white: #FFF;
$green: #05A58B;
$blue: #014990;
$pink: #FFCCFF;
$darkenPink: #F29FBB;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    margin: 0;
}

.App {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 400;
}

.font-400 {
    font-weight: 400;
}

.font-600 {
    font-weight: 600;
}

.font-700 {
    font-weight: 700;
}

.title {
    font-family: 'Noto Serif', serif;
    font-weight: 700;
}

.btn {
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    cursor: pointer;

    &.btn-blue {
        background-color: $blue;
        border: 0.4em solid $blue;
        color: $white;
        transition: color .275s ease-out, background-color .275s ease-out;

        &:hover{
            background-color: $white;
            color: $blue;
        }
    }
}

.fadeInUp {
    opacity: 0;
    animation: 1s ease-out .5s fadeInUp;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(.19,1,.22,1);
}

@keyframes fadeInUp{
    from {
        transform: translate3d(0, 100px,0)
    }
    
    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}

//start
.start {
    width: 100%;
    min-height: 100vh;
    opacity: 0;
    padding: 0 0 20em 0;
    background: url(./img/bg.png) no-repeat center center;
    background-size: cover;
    position: relative;

    svg {
        overflow: visible;
        height: 100%;
        
        /* Fix Safari rendering bug */
        transform: translateZ(0);
    }

    path {
        // stroke-width: 2;
        // stroke: gray;
        fill: transparent;
    }

    &-content {
        padding: 6.4em 0 0 37em;
    }

    &-subtitle {
        color: $green;
        text-transform: uppercase;
        margin-bottom: 1.1em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 35.5em 0 0;

        span {
            font-size: 3em;
            opacity: 0;
        }

        img {
            display: block;
            width: 25.1em;
            height: 3.7em;
            position: relative;
            z-index: 1;
        }
    }

    &-title {
        color: $blue;
        width: 55em;
        margin-bottom: 59.5em;

        span {
            font-size: 7em;
            opacity: 0;
            display: inline-block;
            z-index: 2;
            position: relative;
        }
    }

    &-text {
        color: $blue;
        line-height: 4.524em;
        width: 96em;
        margin-bottom: 2em;

        span {
            font-size: 2.6em;
        }
    }

    &-girl {
        position: absolute;
    }

    &-flowers {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
    }

    &-flower {
        position: absolute;
        opacity: 1;

        &:nth-child(1) {
            width: 22.9em;
            height: 23.4em;
            left: 7em;
            top: 12.5em;
        }

        &:nth-child(2) {
            width: 18.6em;
            height: 18.3em;
            left: 102.5em;
            top: 39.8em;
        }

        &:nth-child(3) {
            width: 18.7em;
            height: 16.5em;
            left: 152em;
            top: 137em;
        }

        &:nth-child(4) {
            width: 9.2em;
            height: 10em;
            left: 61.4em;
            top: 148.2em;
            z-index: 101;
        }

        &:nth-child(5) {
            width: 15.3em;
            height: 13em;
            left: 41.4em;
            top: 149.5em;
            z-index: 101;
        }
    }

    #path-1 {
        position: absolute;
        top: 43.5em;
        left: 52em;
        width: 158em;
        transform: rotate(-21deg);
    }

    #path-2 {
        position: absolute;
        top: 45.5em;
        left: -48em;
        width: 110em;
        transform: rotate(-146deg);
    }

    .btn {
        height: 7.3em;
        width: 58em;
        position: relative;
        z-index: 2;

        span {
            font-size: 3.2em;
        }
    }
}

//start monile
.app-mobile {
    .start {
        background: url(./img/bg.png) no-repeat top left;
        background-size: cover;
        padding: 0;

        &-content {
            padding: 13em 1.5em 0;
            position: relative;
        }

        &-subtitle {
            justify-content: center;
            position: relative;
            padding: 0;
            margin-bottom: 1.8px;

            span {
                font-size: 1.8em;
            }

            img {
                position: absolute;
                width: 13.7em;
                height: 2.2em;
                top: -11em;
                right: 0;
            }
        }

        &-title {
            width: 100%;
            text-align: center;
            margin-bottom: 38em;

            span {
                font-size: 3.8em;
            }
        }

        &-text {
            width: 100%;
            line-height: 2.45em;
            margin-bottom: 4.2em;

            span {
                font-size: 1.4em;
            }
        }

        &-button {
            padding-bottom: 6.4em;
        }

        &-flower {
    
            &:nth-child(1) {
                width: 5.5em;
                height: 5.4em;
                left: 14.7em;
                top: 5.1em;
            }

            &:nth-child(2) {
                width: 3.2em;
                height: 3.5em;
                left: 24em;
                top: 107em;
                z-index: 102;
            }

            &:nth-child(3) {
                width: 5.6em;
                height: 4.8em;
                left: 25em;
                top: 26em;
            }

            &:nth-child(4) {
                width: 7.1em;
                height: 6.6em;
                left: 24.5em;
                top: 110.5em;
            }

            &:nth-child(5) {
                width: 7.5em;
                height: 6.8em;
                left: 1.5em;
                top: 105em;
            }

            &:nth-child(7) {
                transform: rotate(-38deg);
            }
        }

        .btn {
            width: 100%;
            height: 4.7em;
            border-radius: 1em;

            span {
                font-size: 2em;
            }
        }
    }
}

.level {
    opacity: 0;
    transition: opacity 0.275s ease-in;
    z-index: 1;
    position: relative;
    padding: 8em 0;

    &.show {
        opacity: 1;
    }

    &-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &:nth-child(1) {
        background: $pink;

        .q-content {
            margin-right: 15.7em;
        }

        .spiner {
            left: 58em;
            top: -3em;

            svg {
                fill: $darkenPink;
            }
        }
    }
}

.q-content {
    width: 64.6em;

    &-text {
        color: $blue;
        font-weight: bold;
        line-height: 3.9em;
        margin-bottom: 2.5em;

        span {
            font-size: 2.7em;
        }
    }

    &-ansver {
        color: $blue;
        background: $white;
        border-radius: 1.8em;
        padding: 1.7em 3.4em;
        line-height: 3.36em;
        margin: 0 0 1.6em 0;
        cursor: pointer;

        &:hover {
            background: #ececec;
        }

        &:last-child {
            margin: 0;
        }

        span {
            font-size: 2.4em;
        }
    }
}

.rose {
    width: 97.4em;
    height: 74.1em;
    position: relative;
    margin-left: 6.3em;

    &-bg {
        width: 100%;
        display: block;
    }

    &-item {
        position: absolute;

        &.rose-1 {
            width: 68.6em;
            height: 36.3em;
            top: 31em;
            left: 18.7em;
        }

        &.rose-2 {
            width: 52em;
            height: 80.2em;
            top: -7em;
            left: -7.3em;
        }
    }
}

.spiner {
    position: absolute;
    width: 8em;
    height: 8em;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $blue;

    svg {
        fill: #05A58B;
        display: block;
        width: 100%;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
    }

    span {
        z-index: 1;
        font-size: 3.2em;
        font-weight: 600;
    }
}
